<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" name="visualcomparemode" tags="EPiServerModulePackage" clientResourceRelativePath="ClientResources">

  <dojo>
    <paths>
      <add name="visualcomparemode" path="Scripts" />
    </paths>
  </dojo>

  <clientModule>
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>

  <!-- Note! If your Episerver UI segment is not "episerver" then the paths below will need to be changed -->
  <clientResources>
    <add name="epi-cms.widgets.base"
            path="~/episerver/VisualCompareMode/EpiServerOverridenLibs/CustomCompareCommandProvider.js"
            resourceType="Script" />
    <add name="epi-cms.widgets.base"
            path="~/episerver/VisualCompareMode/EpiServerOverridenLibs/CustomWidgetSwitcher.js"
            resourceType="Script" />
  </clientResources>

</module>