@using Foundation.Features.Home

@model ContentViewModel<HomePage>

<div class="home-page row no-gutters">
    <div class="col-12">
        @Html.PropertyFor(x => x.CurrentContent.TopContentArea)
    </div>
    @if ((Model.CurrentContent.MainBody != null && !Model.CurrentContent.MainBody.IsEmpty) || PageEditing.PageIsInEditMode)
    {
        <div class="col-12">
            @Html.PropertyFor(m => m.CurrentContent.MainBody)
        </div>
    }
    <div class="col-12">
        @Html.PropertyFor(x => x.CurrentContent.MainContentArea)
    </div>
    <div class="col-12">
        @Html.PropertyFor(x => x.CurrentContent.BottomContentArea)
    </div>
</div>