<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" viewEngine="Razor">
  <assemblies>
    <add assembly="N1990.Episerver.Cms.Audit" />
  </assemblies>
  <routes>
    <route>
      <defaults>
        <add key="controller" value="CmsAudit" />
        <add key="action" value="Index" />
        <add key="id" value="" />
      </defaults>
    </route>
  </routes>
  <clientResources>
  </clientResources>
  <dojo>
    <packages>
    </packages>
    <aliases>
    </aliases>
  </dojo>
</module>