<?xml version="1.0" encoding="utf-8" ?>
<module loadLocalBin="false" clientResourceRelativePath="">
  <assemblies>
    <add assembly="EPiServer.Insight.UI" />
  </assemblies>

  <routes>
    <route controllerPrefix="EPi" url="Profiles/{controller}/{action}">
      <defaults>
        <add key="moduleArea" value="EPiServer.Insight.UI" />
        <add key="controller" value="Profiles" />
        <add key="action" value="Index" />
        <add key="id" value="" />
      </defaults>
    </route>
    <route controllerPrefix="EPi" url="{moduleArea}/api/{controller}/{id}/_{action}" />
    <route controllerPrefix="EPi" url="{moduleArea}/api/{controller}" />
    <route controllerPrefix="EPi" url="Profiles/noconnection">
      <defaults>
        <add key="moduleArea" value="EPiServer.Insight.UI" />
        <add key="controller" value="Profiles" />
        <add key="action" value="NoConnection" />
        <add key="id" value="" />
      </defaults>
    </route>
  </routes>
  
  <clientResources>
    <add name="epi.profiles.bootstrap" path="ClientResources/dojo.js.uncompressed.js" resourceType="Script" />
    <add name="epi.profiles.noconnection" path="ClientResources/noConnection/noConnection.js" resourceType="Script" />
  </clientResources>

  <dojo>
    <packages>
      <add name="epi-profiles-noconnection" location="ClientResources/noConnection"/>
    </packages>
  </dojo>

  <clientModule>
    <moduleDependencies>
      <add dependency="Shell" />
    </moduleDependencies>
  </clientModule>
     
</module>
