<appSettings>
  <add key="CommerceManagerApplicationName" value="ECApplication" />
  <add key="CommerceManagerLink" value="http://mark.cn.com/Apps/Shell/Pages/default.aspx" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PasswordResetValidMinutes" value="60" />
  <add key="AutoMigrateEPiServer" value="false" />
  <add key="DisableVersionSync" value="true" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  <add key="episerver:UpdateDatabaseSchema" value="true" />
  <add key="episerver:findcommerce.IgnoreWebExceptionOnInitialization" value="true" />
  <add key="episerver:tracking.Enabled" value="true" />
  <!-- Perform tracking configuration -->
  <add key="episerver:personalization.BaseApiUrl" value="https://partnerdemo.peerius.com/" />
  <add key="episerver:personalization.Site" value="vnextdemo" />
  <add key="episerver:personalization.ClientToken" value="586b102ad417d1336e5be099191bcf7ddf1fc97f0e3dc09e234ab6db5be8e1cc" />
  <add key="episerver:personalization.AdminToken" value="b070f0df86c5f90188b8524687563f3044ebed79b818a172dbe182809909696d" />
  <add key="episerver:personalization.RequestTimeout" value="0:0:10" />
  <add key="episerver:personalization.TrackingMode" value="ServerSide" />
  <!-- Insight configuration -->
  <add key="episerver:profiles.InsightApiBaseUrl" value="https://insightapi-eastus01.profilestore.episerver.net/" />
  <add key="episerver:profiles.InsightApiSubscriptionKey" value="IVZm1KiPpBRZyVoLgAIrRxCnIoCHEqBXJGlCWfhO0HNgmLmF" />
  <add key="episerver:profiles.CloudUIBaseUrl" value="https://cloudui-eastus01.profilestore.episerver.net/" />
  <!-- Profile Store tracking configuration -->
  <add key="episerver:profiles.TrackingApiBaseUrl" value="https://track-eastus01.profilestore.episerver.net/" />
  <add key="episerver:profiles.ProfileStoreTrackingEnabled" value="true" />
  <add key="episerver:profiles.TrackingApiSubscriptionKey" value="Ffj3VUcVJ5ZMqjDPViVVhOVeb0yok05vySDXSkg1pVHWOgiQ" />
  <add key="episerver:profiles.Scope" value="foundation" />
  <!-- Profile Store API configuration -->
  <add key="ProfileStore.Url" value="https://profilesapi-eastus01.profilestore.episerver.net/" />
  <add key="ProfileStore.SubscriptionKey" value="V25hYIDigi0Sn1YVOHyPyYEgAVRBbfaBUASjao5zvZHPlQcs" />
  <add key="profileStore.RootApiUrl" value="https://profilesapi-eastus01.profilestore.episerver.net/" />
  <!-- Campaign configuration -->
  <add key="campaign:Username" value="dakn@ep.se" />
  <add key="campaign:Password" value="o%ULuiPt4z!SbS%7oi4XU%al7Y!a0n" />
  <!--client id: 166973806705 == ~+ Episerver Presentation 01 EN (DEMO) -->
  <!--client id: 174884512609 == ~Episerver Presentation UK (DEMO) -->
  <!--client id: 187346233756 == ~Episerver Presentation US (DEMO) -->
  <add key="campaign:Clientid" value="166973806705" />
  <add key="Campaign.Newsletter.Name" value="ShopUK_newsletter_DEMO" />
  <add key="Campaign.Newsletter.LastOrderUpdate" value="Last order date" />
  <add key="Campaign.Newsletter.LastLogin" value="Last login" />
  <add key="Campaign.Newsletter.BonusPoints" value="Bonus points" />
  <add key="Campaign.Newsletter.Score" value="Score" />
  <!-- Advance configuration -->
  <add key="episerver:RecommendationServiceKey" value="oYnkIGvvHh41gZBTDBKG0SYmnFfg55DaaSgQbEJfbQm05j0j" />
  <add key="episerver:RecommendationServiceSecret" value="RJw+WfzLTsCNvbxGvG1JkvHAxCqJNix/LbhhBSkJzuU6oXu2jn7x0c3yCNsLrSJ7" />
  <add key="episerver:RecommendationServiceUri" value="https://prep.advance.episerver.net/" />
  <add key="episerver:FindIndexCatalogContent" value="true" />
  <add key="episerver:FindListenOnCommerceRemoteEvents" value="true" />
  <add key="PeeriusUrl" value="https://partnerdemo.peerius.com/tracker" />
  <add key="Vision:Key" value="38192ad9dc5647d1b4d6328d420ac505" />
  <add key="Vision:ApiRoot" value="https://eastus.api.cognitive.microsoft.com/" />
  <!-- Insight to Campaign post click configuration for 166973806705 == ~+ Episerver Presentation 01 EN (DEMO) -->
  <add key="insightCampaign:PostClickUrl" value="https://demo.srv2.de/pc" />
  <add key="insightCampaign:AuthToken" value="XMPVCFOX3-24PFW5TD-YV14H4" />
  <add key="foundation:installBlobStorage" value="y7aTVILm8lllRL/T4l7E0k5paVq+u3Kxl5nT1din2puuc3fjGIypO5dw62TZCPpz7WFS8+pibuDQyoOWj5MgLmL3Ux+uRJHQEyZsNJxsH0cZd6WxzRH9PSWa/J8a56b1iPXFW4nnNInGCcyNxi1I1e19Ie0nfE0RNlDmwY8/c1o+OtkCHHyV9YONPOpegc7XMe7ljY3WsOkoqimsacUT+tfbl3D6hnBC1+IwuXrv1UMeNz36llj0Nli1e0yTbpPG" />
  <!-- Content Delivery API -->
  <add key="episerver:contentdelivery:maphttpattributeroutes" value="false" />
  <add key="episerver:contentdeliverysearch:maphttpattributeroutes" value="false" />
  <!-- Service API -->
  <add key="episerver:serviceapi:maphttpattributeroutes" value="false" />
  <add key="episerver:serviceapi:requiressl" value="false" />
  <!-- Settings to ensure everything works nicely when using Cloudflare (all of SA should use Cloudflare) -->
  <add key="episerver:ClientIPAddressHeader" value="CF-Connecting-IP" />
  <add key="episerver:ClientLocationHeader" value="CF-IPCountry" />
  <!-- Settings to de-serialize the large number of JSON data -->
  <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
  <!-- Commerce Reporting configuration -->
  <add key="episerver:commerce.ReportingTimeRanges" value="365" />
  <add key="episerver:commerce.EnableEventDrivenOrderReporting" value="true" />
  <!-- Settings to Reindexing a site without affecting other developer indexes -->
  <add key="episerver:Find.ReindexMySitesOnly" value="true"/>
</appSettings>
