<appSettings>
  <add key="CommerceManagerApplicationName" value="ECApplication" />
  <add key="CommerceManagerLink" value="http://mark.cn.com/Apps/Shell/Pages/default.aspx" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PasswordResetValidMinutes" value="60" />
  <add key="AutoMigrateEPiServer" value="false" />
  <add key="DisableVersionSync" value="true" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  <add key="episerver:UpdateDatabaseSchema" value="true" />
  <add key="episerver:findcommerce.IgnoreWebExceptionOnInitialization" value="true" />
  <add key="episerver:tracking.Enabled" value="false" />
  <!-- Perform tracking configuration -->
  <add key="episerver:personalization.BaseApiUrl" value="https://ChangeMe.com/" />
  <add key="episerver:personalization.Site" value="foundation" />
  <add key="episerver:personalization.ClientToken" value="123457890abcdefhijklmnopqrstuvwxyz" />
  <add key="episerver:personalization.AdminToken" value="123457890abcdefhijklmnopqrstuvwxyz" />
  <add key="episerver:personalization.RequestTimeout" value="0:0:10" />
  <add key="episerver:personalization.TrackingMode" value="ServerSide" />
  <!-- Insight configuration -->
  <add key="episerver:profiles.InsightApiBaseUrl" value="https://ChangeMe.com/" />
  <add key="episerver:profiles.InsightApiSubscriptionKey" value="123457890abcdefhijklmnopqrstuvwxyz" />
  <add key="episerver:profiles.CloudUIBaseUrl" value="https://ChangeMe.com/" />
  <!-- Profile Store tracking configuration -->
  <add key="episerver:profiles.TrackingApiBaseUrl" value="https://ChangeMe.com/" />
  <add key="episerver:profiles.ProfileStoreTrackingEnabled" value="false" />
  <add key="episerver:profiles.TrackingApiSubscriptionKey" value="123457890abcdefhijklmnopqrstuvwxyz" />
  <!-- Profile Store API configuration -->
  <add key="ProfileStore.Url" value="https://ChangeMe.com/" />
  <add key="ProfileStore.SubscriptionKey" value="123457890abcdefhijklmnopqrstuvwxyz" />
  <add key="profileStore.RootApiUrl" value="https://ChangeMe.com/" />
  <add key="episerver:FindIndexCatalogContent" value="true" />
  <add key="episerver:FindListenOnCommerceRemoteEvents" value="true" />
  <!-- Content Delivery API -->
  <add key="episerver:contentdelivery:maphttpattributeroutes" value="false" />
  <add key="episerver:contentdeliverysearch:maphttpattributeroutes" value="false" />
  <!-- Service API -->
  <add key="episerver:serviceapi:maphttpattributeroutes" value="false" />
  <add key="episerver:serviceapi:requiressl" value="false" />
  <!-- Settings to ensure everything works nicely when using Cloudflare (all of SA should use Cloudflare) -->
  <add key="episerver:ClientIPAddressHeader" value="CF-Connecting-IP" />
  <add key="episerver:ClientLocationHeader" value="CF-IPCountry" />
  <!-- Settings to de-serialize the large number of JSON data -->
  <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
  <!-- Commerce Reporting configuration -->
  <add key="episerver:commerce.ReportingTimeRanges" value="365" />
  <add key="episerver:commerce.EnableEventDrivenOrderReporting" value="true" />
</appSettings>
