<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AbTestVisitorGroupCriteria" version="11.1.1" targetFramework="net472" />
  <package id="AddOn.Edit.ContextMenuOpenInNewTab" version="1.2.1" targetFramework="net472" />
  <package id="Advanced.CMS.AdvancedReviews" version="0.7.3" targetFramework="net472" />
  <package id="Advanced.CMS.Forms" version="0.2.1" targetFramework="net472" />
  <package id="AdvancedTaskManager" version="2.0.0" targetFramework="net472" />
  <package id="AuthorizeNet" version="1.9.4" targetFramework="net472" />
  <package id="Boilerplate.Web.Mvc5" version="1.0.26" targetFramework="net472" />
  <package id="BVN.404Handler" version="11.4.0" targetFramework="net472" />
  <package id="Castle.Core" version="4.4.1" targetFramework="net472" />
  <package id="Castle.Windsor" version="4.1.1" targetFramework="net472" />
  <package id="CookieDropBlock" version="11.0.0" targetFramework="net472" />
  <package id="CookieVisitorGroupCriteria" version="11.1.0" targetFramework="net472" />
  <package id="CsvHelper" version="7.1.0" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="EPiBootstrapArea" version="5.2.1" targetFramework="net472" />
  <package id="EPiBootstrapArea.Forms" version="5.2.1" targetFramework="net472" />
  <package id="EPiServer.AddOns.Helpers" version="0.4.0.0" targetFramework="net472" />
  <package id="EPiServer.Azure" version="10.0.1" targetFramework="net472" />
  <package id="EPiServer.ChangeApproval" version="1.3.0" targetFramework="net472" />
  <package id="EPiServer.CMS" version="11.18.0" targetFramework="net472" />
  <package id="EPiServer.CMS.AspNet" version="11.18.0" targetFramework="net472" />
  <package id="EPiServer.CMS.Core" version="11.18.0" targetFramework="net472" />
  <package id="EPiServer.CMS.TinyMce" version="2.12.1" targetFramework="net472" />
  <package id="EPiServer.CMS.UI" version="11.28.0" targetFramework="net472" />
  <package id="EPiServer.CMS.UI.AspNetIdentity" version="11.28.0" targetFramework="net472" />
  <package id="EPiServer.CMS.UI.Core" version="11.28.0" targetFramework="net472" />
  <package id="EPiServer.Commerce.Azure" version="14.0.11" targetFramework="net472" />
  <package id="EPiServer.Commerce.Core" version="13.23.0" targetFramework="net472" />
  <package id="EPiServer.Commerce.UI" version="13.23.0" targetFramework="net472" />
  <package id="EPiServer.Commerce.UI.CustomerService" version="13.23.0" targetFramework="net472" />
  <package id="EPiServer.ConnectForCampaign" version="2.1.0" targetFramework="net472" />
  <package id="EPiServer.ConnectForMarketingAutomation" version="5.6.0" targetFramework="net472" />
  <package id="EPiServer.ContentDeliveryApi" version="2.14.0" targetFramework="net472" />
  <package id="EPiServer.ContentDeliveryApi.Cms" version="2.14.0" targetFramework="net472" />
  <package id="EPiServer.ContentDeliveryApi.Commerce" version="2.14.0" targetFramework="net472" />
  <package id="EPiServer.ContentDeliveryApi.Core" version="2.14.0" targetFramework="net472" />
  <package id="EPiServer.ContentDeliveryApi.OAuth" version="2.6.0" targetFramework="net472" />
  <package id="EPiServer.ContentDeliveryApi.Search" version="2.14.0" targetFramework="net472" />
  <package id="EPiServer.Find" version="13.2.8" targetFramework="net472" />
  <package id="EPiServer.Find.Cms" version="13.2.8" targetFramework="net472" />
  <package id="EPiServer.Find.Commerce" version="11.1.2" targetFramework="net472" />
  <package id="EPiServer.Find.Framework" version="13.2.8" targetFramework="net472" />
  <package id="EPiServer.Forms" version="4.29.2" targetFramework="net472" />
  <package id="EPiServer.Forms.Core" version="4.29.2" targetFramework="net472" />
  <package id="EPiServer.Forms.Samples" version="3.6.0" targetFramework="net472" />
  <package id="EPiServer.Forms.UI" version="4.29.2" targetFramework="net472" />
  <package id="EPiServer.Framework" version="11.18.0" targetFramework="net472" />
  <package id="EPiServer.Framework.AspNet" version="11.18.0" targetFramework="net472" />
  <package id="EPiServer.GoogleAnalytics" version="2.3.2" targetFramework="net472" />
  <package id="EPiServer.Insight.Cms" version="1.19.0" targetFramework="net472" />
  <package id="EPiServer.Insight.UI" version="1.19.0" targetFramework="net472" />
  <package id="EPiServer.Labs.BlockEnhancements" version="0.9.4" targetFramework="net472" />
  <package id="EPiServer.Labs.ContentManager" version="0.2.1" targetFramework="net472" />
  <package id="EPiServer.Labs.ContentManager.Core" version="0.2.1" targetFramework="net472" />
  <package id="EPiServer.Labs.GridView" version="0.2.1" targetFramework="net472" />
  <package id="EPiServer.Labs.LanguageManager" version="4.0.1" targetFramework="net472" />
  <package id="EPiServer.Logging.Log4Net" version="2.2.2" targetFramework="net472" />
  <package id="EPiServer.Marketing.Automation.Forms" version="2.3.0" targetFramework="net472" />
  <package id="EPiServer.Marketing.KPI" version="2.5.3" targetFramework="net472" />
  <package id="EPiServer.Marketing.KPI.Commerce" version="2.4.2" targetFramework="net472" />
  <package id="EPiServer.Marketing.Messaging" version="1.3.0" targetFramework="net472" />
  <package id="EPiServer.Marketing.Testing" version="2.6.4" targetFramework="net472" />
  <package id="EPiServer.Packaging" version="3.4.0" targetFramework="net472" />
  <package id="EPiServer.PdfPreview" version="1.0.0" targetFramework="net472" />
  <package id="EPiServer.Personalization" version="1.0.0" targetFramework="net472" />
  <package id="EPiServer.Personalization.Commerce" version="3.2.19" targetFramework="net472" />
  <package id="EPiServer.Personalization.Common" version="3.1.0" targetFramework="net472" />
  <package id="EPiServer.Personalization.MaxMindGeolocation" version="1.0.0" targetFramework="net472" />
  <package id="EPiServer.Profiles.Client" version="1.19.0" targetFramework="net472" />
  <package id="EPiServer.Profiles.Client.Common" version="1.19.0" targetFramework="net472" />
  <package id="EPiServer.ServiceApi" version="5.4.5" targetFramework="net472" />
  <package id="EPiServer.ServiceApi.Commerce" version="5.4.5" targetFramework="net472" />
  <package id="EPiServer.ServiceLocation.StructureMap" version="2.0.3" targetFramework="net472" />
  <package id="EPiServer.Session" version="1.0.0" targetFramework="net472" />
  <package id="EPiServer.Social" version="3.1.0" targetFramework="net472" />
  <package id="EPiServer.Social.ActivityStreams" version="1.5.4" targetFramework="net472" />
  <package id="EPiServer.Social.ActivityStreams.Site" version="1.5.4" targetFramework="net472" />
  <package id="EPiServer.Social.Comments" version="1.5.4" targetFramework="net472" />
  <package id="EPiServer.Social.Comments.Site" version="1.5.4" targetFramework="net472" />
  <package id="EPiServer.Social.Common" version="1.5.4" targetFramework="net472" />
  <package id="EPiServer.Social.Common.Rest" version="1.5.4" targetFramework="net472" />
  <package id="EPiServer.Social.Groups" version="1.5.4" targetFramework="net472" />
  <package id="EPiServer.Social.Groups.Site" version="1.5.4" targetFramework="net472" />
  <package id="EPiServer.Social.Moderation" version="1.5.4" targetFramework="net472" />
  <package id="EPiServer.Social.Moderation.Site" version="1.5.4" targetFramework="net472" />
  <package id="EPiServer.Social.Ratings" version="1.5.4" targetFramework="net472" />
  <package id="EPiServer.Social.Ratings.Site" version="1.5.4" targetFramework="net472" />
  <package id="EPiServer.Telemetry.UI" version="1.0.8" targetFramework="net472" />
  <package id="EPiServer.Telemetry.UI.Core" version="1.0.8" targetFramework="net472" />
  <package id="EPiServer.Tracking.Cms" version="1.19.0" targetFramework="net472" />
  <package id="EPiServer.Tracking.Commerce" version="3.2.19" targetFramework="net472" />
  <package id="EPiServer.Tracking.Core" version="1.19.0" targetFramework="net472" />
  <package id="EPiServer.Tracking.PageView" version="1.1.0" targetFramework="net472" />
  <package id="EPiServer.Turnstile.Contracts.Hmac" version="2.0.1" targetFramework="net472" />
  <package id="EPiServer.VisitorGroupsCriteriaPack" version="2.0.1" targetFramework="net472" />
  <package id="FileHelpers" version="3.4.1" targetFramework="net472" />
  <package id="Geta.404Handler" version="1.0.0" targetFramework="net472" />
  <package id="Geta.EpiCategories" version="1.2.11" targetFramework="net472" />
  <package id="Geta.EpiCategories.Find" version="1.2.11" targetFramework="net472" />
  <package id="Geta.SEO.Sitemaps" version="3.1.3" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net472" />
  <package id="htmldiff.net" version="1.4.0" targetFramework="net472" />
  <package id="ImageProcessor" version="2.9.1" targetFramework="net472" />
  <package id="ImageProcessor.Plugins.WebP" version="1.3.0" targetFramework="net472" />
  <package id="ImageProcessor.Web" version="4.12.1" targetFramework="net472" />
  <package id="ImageProcessor.Web.Config" version="2.6.0" targetFramework="net472" />
  <package id="ImageProcessor.Web.Episerver" version="5.6.3.41017" targetFramework="net472" />
  <package id="InsightFormFieldMapper" version="1.1.2" targetFramework="net472" />
  <package id="log4net" version="2.0.8" targetFramework="net472" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net472" />
  <package id="Lucene.Net.Store.Azure" version="3.0.5553.21100" targetFramework="net472" />
  <package id="MaxMind.Db" version="2.6.1" targetFramework="net472" />
  <package id="MaxMind.GeoIP2" version="3.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.Cors" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.OData" version="6.1.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.Providers" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.Providers.Core" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.6" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.Azure.KeyVault.Core" version="3.0.5" targetFramework="net472" />
  <package id="Microsoft.Azure.Services.AppAuthentication" version="1.5.0" targetFramework="net472" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net472" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="3.6.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Data.Edm" version="5.8.4" targetFramework="net472" />
  <package id="Microsoft.Data.OData" version="5.8.4" targetFramework="net472" />
  <package id="Microsoft.Data.Services.Client" version="5.8.4" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="5.2.8" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.7.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="6.7.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.7.1" targetFramework="net472" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.3.5" targetFramework="net472" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net472" />
  <package id="Microsoft.OData.Core" version="7.7.0" targetFramework="net472" />
  <package id="Microsoft.OData.Edm" version="7.7.0" targetFramework="net472" />
  <package id="Microsoft.Owin" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Security" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.ReportViewer.Common" version="10.0.40219.1" targetFramework="net472" />
  <package id="Microsoft.ReportViewer.WebForms" version="10.0.40219.1" targetFramework="net472" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.21" targetFramework="net472" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.19" targetFramework="net472" />
  <package id="Microsoft.Spatial" version="7.7.0" targetFramework="net472" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net472" />
  <package id="Modernizr" version="2.6.2" targetFramework="net472" />
  <package id="N1990.Episerver.Cms.Audit" version="1.5.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="NonFactors.Grid.Core.Mvc5" version="7.1.3" targetFramework="net472" />
  <package id="NuGet.Core" version="2.5.0" targetFramework="net472" />
  <package id="Owin" version="1.0" targetFramework="net472" />
  <package id="PowerSlice" version="4.0.1" targetFramework="net472" />
  <package id="RestSharp" version="106.2.2" targetFramework="net472" />
  <package id="Schema.NET" version="3.5.0" targetFramework="net472" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net472" />
  <package id="StructureMap" version="4.7.1" targetFramework="net472" />
  <package id="structuremap.web" version="4.0.0.315" targetFramework="net472" />
  <package id="System.Collections" version="4.3.0" targetFramework="net472" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net472" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net472" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.3.0" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.8.1" targetFramework="net472" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net472" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.7.1" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Linq" version="4.3.0" targetFramework="net472" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net472" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net472" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net472" />
  <package id="System.Security.Cryptography.Xml" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net472" />
  <package id="System.Spatial" version="5.8.4" targetFramework="net472" />
  <package id="System.Threading" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.AccessControl" version="4.7.0" targetFramework="net472" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Dataflow" version="4.11.1" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="System.Web.Providers" version="1.2" targetFramework="net472" />
  <package id="VisualCompareMode" version="1.0.3" targetFramework="net472" />
  <package id="WindowsAzure.ServiceBus" version="6.0.2" targetFramework="net472" />
  <package id="WindowsAzure.Storage" version="9.3.3" targetFramework="net472" />
</packages>