<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <!-- startupTimeLimit: allow up to 600s for Commerce SQL schema init on first run -->
      <!-- stdoutLogEnabled: capture startup crash output to .\logs\stdout_*.log -->
      <aspNetCore processPath="dotnet" arguments=".\Foundation.dll"
                  stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess"
                  startupTimeLimit="600" requestTimeout="00:10:00" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 856C325A-2CC0-422C-B964-1BD10EA14C99-->
