@using System.Web.Mvc.Html
@using EPiServer.Shell.Web.Mvc.Html
@model VirtualTemplates.UI.Models.VirtualTemplatesCompareModel

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Virtual Template System</title>
    <!-- Include Ace editor first -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.2/ace.js" integrity="sha256-rfN9xU0ELcvTsc3WUaKlvSVEfzLvFCyl+ID09aieASo=" crossorigin="anonymous"></script>
    <!-- Include Ace-diff JS and CSS (using unpkg.com CDN in this case) -->
    <script src="https://unpkg.com/ace-diff@2.3.0/dist/ace-diff.min.js" integrity="sha384-Pe0OY38CqAVdYPDI85ehYesCmISM2BbmFcKLuj0J2epGYjGWNBbwACsT8EOpGuY9" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/ace-diff@2.3.0/dist/ace-diff.min.css" integrity="sha384-Mxfhmq9U1mo82P5ebVySECYFSwf+FpWbEQcE1e0U/AIJKBzFOiGpKAvpRIUcy4eY" crossorigin="anonymous">
</head>

<body>
    <!-- Element we will use to render the Ace-diff -->
    <div class="custom"></div>
    <div id="codepanel" style="display: none;"></div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.2/ext-modelist.js" integrity="sha256-fHHnTJkNE5lFkfAHCy3jXQMweBuoT9x8vuWiqWKSrUE=" crossorigin="anonymous"></script>

<script>

    var revertbutton = window.parent.document.getElementById('revertButton');
    var toggledRevertButton = false;
    var confirmMessage = window.parent.document.getElementById('confirmMessage');

    function getMode(path){
        var modelist = ace.require("ace/ext/modelist");
        return modelist.getModeForPath(path).mode;
    }

    var filename = "@Model.VirtualPath";
    var aceDiffer = new AceDiff({
        element: '.custom',
        left: {
            content: `@Html.Raw(Model.LeftContents.Replace("${", "\\${").Replace("</script", "<\\/script"))`,
            copyLinkEnabled: false
        },
        right: {
            content: `@Html.Raw(Model.RightContents.Replace("${", "\\${").Replace("</script", "<\\/script"))`,
            editable: false
        },
    });
    var mode = getMode(filename);
    ace.require(mode);

    var leftEditor = aceDiffer.getEditors().left;
    leftEditor.session.setMode(mode);
    leftEditor.getSession().on('change', function (e) {
        var contents = leftEditor.getValue();
        confirmMessage.innerHTML = '';
        window.top.document.getElementById("LeftContents").value = contents;
        if (toggledRevertButton === false) {
            revertbutton.classList.add('btn-danger');
            revertbutton.classList.remove('btn-success');
            revertbutton.innerHTML = '<i class="fas fa-undo"></i> Revert to default';
            toggledRevertButton = true;
        }
    });

    var rightEditor = aceDiffer.getEditors().right;
    rightEditor.session.setMode(mode);

    window.onload = function() {
        parent.compareLoaded('@Model.LeftVersionText', '@Model.RightVersionText');
    }

</script>
</body>
</html>