@using Foundation.Features.Blocks.FacebookBlock

@model IBlockViewModel<FacebookBlock>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3"></script>
<div style="background-color: @Model.CurrentBlock.BackgroundColor; opacity:@Model.CurrentBlock.BlockOpacity;" class="@(Model.CurrentBlock.Padding + " " + Model.CurrentBlock.Margin)">
    <div class="fb-page"
         data-href="https://www.facebook.com/@Model.CurrentBlock.AccountName"
         data-tabs="timeline"
         data-width="@Model.CurrentBlock.Width"
         data-height="@Model.CurrentBlock.Height"
         data-small-header="false"
         data-adapt-container-width="true"
         data-hide-cover="false"
         data-show-facepile="true">
    </div>
</div>