<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="googleAnalytics" type="EPiServer.GoogleAnalytics.Configuration.GoogleAnalyticsSection, EPiServer.GoogleAnalytics" />
    </configSections>
  
    <googleAnalytics>
        <restrictedTypes>
            <type contentType="episerver.core.icontentmedia" />
            <type contentType="episerver.commerce.catalog.contenttypes.catalogcontent" />
        </restrictedTypes>
    </googleAnalytics>

    <appSettings>
        <!-- Default and explicitly use absolute expiration cache timeout (in seconds).
             NOTE: only 1 cache type works at a time. Just uncomment the cache type to use and comment out the other one. -->
        <add key="epi.googleanalytics.absoluteexpiration" value="600" />
        <!--<add key="epi.googleanalytics.slidingexpiration" value="180" />-->
        
        <!-- Uncomment this to use RegisterClientScriptInclude instead of RegisterClientScriptResource -->
        <!--<add key="epi.googleanalytics.scriptinclude" value="true" />-->

        <!-- Custom variables are name-value pair tags that you can insert in your tracking code in order to refine Google Analytics tracking.
             With custom variables, you can define additional segments to apply to your visitors other than the ones already provided by Analytics. -->
        <add key="epi.googleanalytics.pagevariable" value="1" />
        <add key="epi.googleanalytics.languagevariable" value="2" />
        <add key="epi.googleanalytics.authorvariable" value="3" />
    </appSettings>
</configuration>
