@model CalendarEventBlockViewModel

<h2>Upcoming Events</h2>
<hr />
@foreach (var page in Model.Events)
{
    <div class="listResult">
        <h2>
            <strong>@Html.PageLink(page)</strong>
        </h2>
        <p class="date">Start Date: @page.GetPropertyValue("StartDate")</p>
        <p class="date">End Date: @page.GetPropertyValue("EndDate")</p>
        <p>@page.GetPropertyValue("TeaserText")</p>
        <hr />
    </div>
}