<div class="card-header align-middle">
    <span class="float-left">@Model.VirtualPath</span>
    <a class="close float-right align-middle" aria-label="Close" href="@Url.Action("Index")">
        <span aria-hidden="true">&times;</span>
    </a>
</div>
