@using Foundation.Features.Search
@using Foundation.Features.Search.Search

@model SearchViewModel<SearchResultPage>

@{
    Layout = null;
}

@if (Model != null && Model.ContentSearchResult != null && Model.ContentSearchResult.Hits != null && Model.ContentSearchResult.Hits.Any())
{
    <ul class="style-list-none">
        <li class="searchbox__heading">
            <b>Contents</b>
        </li>
        @foreach (var content in Model.ContentSearchResult.Hits)
        {

            <li class="searchbox__row">
                <a href="@content.Url" class="searchbox__product-name">
                    @Html.Raw(content.Title)
                </a>
            </li>
        }
    </ul>
}
else
{
    <ul class="style-list-none">
        <li class="searchbox__row searchbox__heading">
            <b>Contents</b>
        </li>
        <li class="searchbox__row">
            <p class="searchbox__notfound">No result found.</p>
        </li>
    </ul>
}