@using EPiServer.Commerce.Catalog.ContentTypes

@model IEnumerable<EntryContentBase>

<div class="selection--cm__label"> @Html.TranslateFallback("/Category/RecentlyViewed", "Recently Viewed") </div>
<ul class="selection--cm" id="recently-viewed-items">
    @foreach (var entry in Model)
    {
        <li>
            <p class="product-name">
                <a href="@entry.GetUrl()">
                    @entry.DisplayName
                </a>
            </p>
        </li>
    }
</ul>