<episerver xmlns="http://EPiServer.Configuration.EPiServerSection">
  <applicationSettings httpCacheability="Public" pageValidateTemplate="false" uiShowGlobalizationUserInterface="true" urlRebaseKind="ToRootRelative" uiUrl="~/episerver/CMS/" utilUrl="~/util/" uiEditorCssPaths="~/Assets/Base/editor.css" googleMapsApiV3Url="http://maps.googleapis.com/maps/api/js?v=3&amp;key=AIzaSyACr-GvqhpGTWmJbYFmuVsQ8fnffYAwGEk&amp;libraries=places" />
</episerver>