@using EPiServer
@model BlogArchiveBlock

<div class="selection--cm__label">@Html.TranslateFallback("/Blog/Archive", "Archive")</div>
@if (Model.BlogStart != null)
{
    <ul class="selection--cm">
        @foreach (var year in DataFactory.Instance.GetChildren<BlogListPage>(Model.BlogStart))
        {
            <li>
                @Html.ContentLink(year)
                <ul class="selection--cm__dropdown">
                    @foreach (var month in DataFactory.Instance.GetChildren<BlogListPage>(year.ContentLink))
                    {
                        <li>@Html.ContentLink(month)</li>
                    }
                </ul>
            </li>
        }
    </ul>
}
