@model Foundation.Commerce.ViewModels.ElevatedRoleBlockViewModel

@if (Model.IsAccess)
{
    @Html.PropertyFor(x => x.CurrentBlock.Body)
    @Html.PropertyFor(m => m.CurrentBlock.MainContentArea, new { CssClass = "row" })
}
else
{
    <h1>Access denied.</h1>
    <p>You don't have permission to access on this area.</p>
}
