@model List<string>

@if (Model != null && Model.Count > 0)
{
    <div class="row">
        <div class="col-12" style="position: relative">
            <div class="product-zoom-image--container">
                <div class="product-zoom-image"></div>
            </div>
            <picture class="img-fluid border jsProductImageShow">
                <source data-srcset="@Model.ElementAt(0)?format=webp" type="image/webp">
                <img data-src="@Model.ElementAt(0)" class="img-fluid lazyload" />
            </picture>
        </div>
    </div>
    <div class="row product-detail__image">
        <ul class="col-12">
            @foreach (var image in Model)
            {
                <li class="jsProductImageSelect">
                    <a href="javascript:void(0)" class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '@image' ">
                        <picture>
                            <source data-srcset="@image?format=webp" type="image/webp">
                            <img data-src="@image" class="lazyload" />
                        </picture>
                    </a>
                </li>
            }
        </ul>
    </div>
}
