@using Foundation.Features.CatalogContent

@model IEntryViewModelBase

<div class="product-detail__rating jsReviewRating">
    @if (Model.Reviews != null)
    {
        <div class="rating rate-@((int)Model.Reviews.Statistics.OverallRating)">
            <i data-feather="star"></i>
            <i data-feather="star"></i>
            <i data-feather="star"></i>
            <i data-feather="star"></i>
            <i data-feather="star"></i>
        </div>
        <span>@Model.Reviews.Statistics.TotalRatings Review(s)</span>
    }
</div>