@model Foundation.Cms.Blocks.HeroBlockCallout

@{
    var calloutStyle = "";

    if (Model.CalloutContentAlignment == "Right")
    {
        calloutStyle += "text-align: right;";
    }

    if (Model.CalloutContentAlignment == "Left")
    {
        calloutStyle += "text-align: left;";
    }
}
<div class="callout" style="@calloutStyle">
    <div style="position: relative;z-index: 1;">
        @Html.PropertyFor(model => model.CalloutContent)
    </div>
</div>