.epi-hide-actionscontainer .epi-overlay-blockarea-actionscontainer {
    display: none !important;
}

.epi-form-container__section .dijitTextArea {
    min-height: 60px !important;
}

.epi-form-container__section .epiTinyMCEEditor iframe {
    height: 200px !important;
}

.epi-viewPort-320x692 {
    background: url('/imgs/iphone11.png') no-repeat center center;
    background-size: 368px 796px;
}

.epi-viewPort-519x692 {
    background: url('/imgs/ipadair.png') no-repeat center center;
    background-size: 775px 890px;
}

.epi-viewPort-320x568 .epi-editorViewport-previewBox,
.epi-viewPort-320x692 .epi-editorViewport-previewBox,
.epi-viewPort-480x800 .epi-editorViewport-previewBox,
.epi-viewPort-1366x768 .epi-editorViewport-previewBox,
.epi-viewPort-519x692 .epi-editorViewport-previewBox {
    overflow-x: hidden !important;
    overflow-y: auto !important;
}
