<?xml version="1.0"?>
<Configuration version="5.2">
	<Acl>
		<Group id="ctlg" text="{SharedStrings:Catalogs}">
			<Group id="mng" text="{SharedStrings:Manage}">
				<Permission id="view" text="{SharedStrings:View}"></Permission>
				<Permission id="create" text="{SharedStrings:Create}"></Permission>
				<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
				<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
				<Permission id="import" text="{SharedStrings:Import}"></Permission>
				<Permission id="export" text="{SharedStrings:Export}"></Permission>
			</Group>
			<Group id="nodes" text="{SharedStrings:Nodes}">
				<Group id="mng" text="{SharedStrings:Manage}">
					<Permission id="view" text="{SharedStrings:View}"></Permission>
					<Permission id="create" text="{SharedStrings:Create}"></Permission>
					<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
					<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
				</Group>
			</Group>
			<Group id="entries" text="{SharedStrings:Entries}">
				<Group id="mng" text="{SharedStrings:Manage}">
					<Permission id="view" text="{SharedStrings:View}"></Permission>
					<Permission id="create" text="{SharedStrings:Create}"></Permission>
					<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
					<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
				</Group>
			</Group>
		</Group>
		<Group id="admin" text="{SharedStrings:Administration}">
			<Group id="warehouses" text="{SharedStrings:Warehouses}">
				<Group id="mng" text="{SharedStrings:Manage}">
					<Permission id="view" text="{SharedStrings:View}"></Permission>
					<Permission id="create" text="{SharedStrings:Create}"></Permission>
					<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
					<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
				</Group>
			</Group>
			<Group id="country" text="{SharedStrings:Countries}">
				<Group id="mng" text="{SharedStrings:Manage}">
					<Permission id="view" text="{SharedStrings:View}"></Permission>
					<Permission id="create" text="{SharedStrings:Create}"></Permission>
					<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
					<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
				</Group>
			</Group>
			<Group id="taxcategories" text="{CatalogStrings:Tax_Categories}">
				<Group id="mng" text="{SharedStrings:Manage}">
					<Permission id="view" text="{SharedStrings:View}"></Permission>
					<Permission id="create" text="{SharedStrings:Create}"></Permission>
					<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
					<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
				</Group>
			</Group>
			<Group id="currencies" text="{CatalogStrings:Currencies}">
				<Group id="mng" text="{SharedStrings:Manage}">
					<Permission id="view" text="{SharedStrings:View}"></Permission>
					<Permission id="create" text="{SharedStrings:Create}"></Permission>
					<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
					<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
				</Group>
			</Group>
			<Group id="meta" text="{CatalogStrings:Meta_Data}">
				<Group id="cls" text="{SharedStrings:Classes}">
					<Group id="mng" text="{SharedStrings:Manage}">
						<Permission id="view" text="{SharedStrings:View}"></Permission>
						<Permission id="create" text="{SharedStrings:Create}"></Permission>
						<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
						<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
					</Group>
				</Group>
				<Group id="fld" text="{SharedStrings:Fields}">
					<Group id="mng" text="{SharedStrings:Manage}">
						<Permission id="view" text="{SharedStrings:View}"></Permission>
						<Permission id="create" text="{SharedStrings:Create}"></Permission>
						<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
						<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
					</Group>
				</Group>
			</Group>
		</Group>
	</Acl>
</Configuration>