@model Foundation.Cms.ViewModels.ContentViewModel<HomePage>

<div class="row">
    <div class="col-12">
        <h2>@Html.TranslateFallback("/ResetPassword/ForgotPasswordConfirmation/Heading", "Halfway there...")</h2>
        <p>
            @Html.TranslateFallback("/ResetPassword/ForgotPasswordConfirmation/Message", "Please check your e-mail to reset your password.")
        </p>
    </div>
</div>
