@model Foundation.Cms.ViewModels.ContentViewModel<HomePage>

<div class="row">
    <div class="col-12">
        <h3>@Html.TranslateFallback("/ResetPassword/ResetPasswordConfirmation/Heading", "Password has been reset")</h3>
        <p>
            @Html.TranslateFallback("/ResetPassword/ResetPasswordConfirmation/Message", "Well done. Your password was successfully updated. Please ")
        </p>
    </div>
</div>

