@model Foundation.Features.Pages.ComparisonPage.ComparisonPageViewModel

<div class="row">
    <div class="col-12">
        <h4>@Html.PropertyFor(x => x.CurrentContent.Name)</h4>
        <p>Select the variants that you need to compare.</p>
    </div>
</div>