<?xml version="1.0" encoding="utf-8"?>
<BusinessFoundationSettings filterExpressionDefaultProvider="MetaDataProvider">
  <Connection connectionStringName="EcfSqlConnection" />
  <!--MetaUI configurations-->
  <metaUITypes>
    <location metaClassName="*">
      <metaUIType category="Form" id="[MC_BaseForm]" name="[MC_BaseForm]" dataSource="Default" isSystem="True" />
      <metaUIType category="Form" id="[MC_CreateForm]" name="[MC_CreateForm]" dataSource="Default" isSystem="True" />
      <metaUIType category="Form" id="[MC_GeneralViewForm]" name="[MC_GeneralViewForm]" dataSource="Default" isSystem="True" />
      <metaUIType category="Form" id="[MC_ShortViewForm]" name="[MC_ShortViewForm]" dataSource="Default" isSystem="True" />
      <metaUIType category="Form" id="[MC_CustomForm]" name="[MC_CustomForm]" dataSource="Default" isSystem="False" />
    </location>
  </metaUITypes>
  <!-- FileResolver configurations-->
  <fileResolverProviders>
    <add name="Disk" type="Foundation.Commerce.Install.FoundationDiskFileProvider, Foundation" searchDirectoryName="Config" searchSubdirectories="True" />
  </fileResolverProviders>
  <fileResolverGroups default="foundation">
    <add name="foundation">
      <providers>
        <add name="Disk" />
      </providers>
    </add>
  </fileResolverGroups>
  <fileResolverModules>
    <add name="Core" />
    <add name="MetaUIEntity" />
    <add name="Dashboard" />
    <add name="Reporting" />
    <add name="Content" />
    <add name="Catalog" />
    <add name="Order" />
    <add name="Customer" />
    
    <add name="Asset" />
  </fileResolverModules>
  <!--XMLBuilder configurations-->
  <xmlBuilderCustomizationProviders>
    <add name="Navigation" />
  </xmlBuilderCustomizationProviders>
  <xmlBuilderDebug saveFiles="False" directoryPath="%TEMP%\XmlBuilder" />
  <!--FilterExpression configurations-->
  <filterExpressionProviders>
    
    
    
    <add name="MetaDataProvider" type="Mediachase.BusinessFoundation.ListViewProfileExpressionProvider, Mediachase.BusinessFoundation" />
  </filterExpressionProviders>
  <!--MetaDataBase configurations-->
  <metaDataFieldTypesVisibility>
    <location metaClassName="*">
      <fieldType name="BackReference" visible="false" />
      <fieldType name="Card" visible="false" />
      <fieldType name="Link" visible="false" />
      <fieldType name="Aggregation" visible="false" />
      <fieldType name="Reference" visible="false" />
      <fieldType name="*" dataType="MultiReference" visible="false" />
      <fieldType name="*" dataType="Complex" visible="false" />
      <fieldType name="Float" visible="false" />
      <fieldType name="FloatPercent" visible="false" />
      <fieldType name="Html" visible="false" />
    </location>
  </metaDataFieldTypesVisibility>
  <blobConfiguration>
    <storageProvider defaultProvider="DiskBlobStorageProvider">
      <providers>
        <add name="DiskBlobStorageProvider" type=" Mediachase.BusinessFoundation.Blob.DiskBlobStorageProvider,  Mediachase.BusinessFoundation" allowSearch="False" basePath="C:\Project\Quicksilver.Commerce\BlobStorage" />
        <add name="SqlBlobStorageProvider" type=" Mediachase.BusinessFoundation.Blob.SqlBlobStorageProvider,  Mediachase.BusinessFoundation" allowSearch="True" />
        <add name="PublicDiskBlobStorageProvider" type=" Mediachase.BusinessFoundation.Blob.PublicDiskStorageProvider,  Mediachase.BusinessFoundation" allowSearch="False" basePath="C:\Project\Quicksilver.Commerce\BlobStorage\Public" />
        <add name="S3StorageProvider" type="Mediachase.Library.AmazonProviders.S3StorageProvider, Mediachase.Library.AmazonProviders" allowSearch="False" accessKeyID="id" secretAccessKey="secretkey" bucketName="ecf" useSSL="false" useSubDomains="true" expirationTimeSpan="1:0:0" />
      </providers>
    </storageProvider>
    <profileDownload>
      <add name="iis" type=" Mediachase.BusinessFoundation.Blob.BlobProfileDownload.IISAccesProfile,  Mediachase.BusinessFoundation" virtualPath="/FileLibrary" />
      <add name="open" type=" Mediachase.BusinessFoundation.Blob.BlobProfileDownload.GetAccessProfile,  Mediachase.BusinessFoundation" virtualPath="/FileLibrary" />
      <add name="forceDownload" type=" Mediachase.BusinessFoundation.Blob.BlobProfileDownload.GetOpenAccessProfile,  Mediachase.BusinessFoundation" />
      <add name="webDav" type=" Mediachase.BusinessFoundation.Blob.BlobProfileDownload.WebDavAccessProfile,  Mediachase.BusinessFoundation" />
    </profileDownload>
    <profileCache>
      <!--
				<add name="uidCache" path="c:\tmp\cache" virtualPath="TestUrl/cache" storageProvider="DiskBlobStorageProvider"/>
				<add name="publicCache" path="c:\tmp\publicCache" virtualPath="TestUrl/publicCache/" storageProvider="PublicDiskBlobStorageProvider"/>
			-->
    </profileCache>
  </blobConfiguration>
</BusinessFoundationSettings>