<?xml version="1.0"?>
<Customers autoInstall="true" demoInstall="true">
  <Cache enabled="true" contactCollectionTimeout="1:0:0" contactTimeout="1:0:0" addressCollectionTimeout="1:0:0" addressTimeout="1:0:0" creditCardCollectionTimeout="1:0:0" creditCardTimeout="1:0:0" organizationCollectionTimeout="1:0:0" organizationTimeout="1:0:0" />
  <Connection connectionStringName="EcfSqlConnection" />
  <Roles />
</Customers>