@using Foundation.Features.Blocks.MenuItemBlock

@model MenuItemBlock

<div class="d-none d-lg-block">
    <nav class="container navigation">
        <ul class="navigation__left">
            <li class="navigation__item">
                <a href="@Model.Link" class="nav-category">
                    @Model.Name
                </a>
            </li>
        </ul>
    </nav>
</div>