<?xml version="1.0" encoding="utf-8" ?>
<module loadFromBin="false"
        type="EPiServer.Forms.Samples.FormsSamplesModule, EPiServer.Forms.Samples"
        clientResourceRelativePath="3.6.0">

    <assemblies>
        <add assembly="EPiServer.Forms.Samples" />
    </assemblies>

    <routes>
    </routes>

    <clientResources>
        <add name="FormsSamples" path="ClientResources/epi-formssamples/themes/sleek/FormsSamples.css" resourceType="Style" />
    </clientResources>

    <dojo>
        <packages>
            <add name="epi-formssamples" location="ClientResources/epi-formssamples" />
        </packages>
    </dojo>

    <clientModule initializer="epi-formssamples.FormsSamplesModule">
        <moduleDependencies>
            <add dependency="EPiServer.Forms.UI" type="RunAfter" />
        </moduleDependencies>

        <requiredResources>
            <add name="FormsSamples" />
        </requiredResources>
    </clientModule>
</module>
