@using N1990.Episerver.Cms.Audit.Business
@model N1990.Episerver.Cms.Audit.Models.CmsAuditPage
@{
    Layout = "../Shared/_layout.cshtml";
}

<section class="site-list" id="site-audit-section">
	<div class="progress progress-striped">
		<div class="progress-bar progress-bar-info" style="width: @(100/Model.Sites.Count)%">
			Working on it...
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3">
			<ul class="nav nav-pills nav-stacked" role="tablist" id="site-tabs">
				@for (var i = 0; i < Model.Sites.Count; i++)
				{
					<li role="presentation" class="@(i == 0 ? "active" : "")">
						<a href="#tab-@Model.Sites[i].SiteDefo.Id" aria-controls="home" role="tab" data-toggle="tab">@Model.Sites[i].SiteDefo.Name</a>
					</li>
				}
			</ul>
		</div>
		<div class="col-lg-9">
			<div class="tab-content">
				@foreach (var siteDefo in Model.Sites)
				{
				<div role="tabpanel" class="tab-pane active" id="tab-@siteDefo.SiteDefo.Id"
					 data-siteguid="@siteDefo.SiteDefo.Id">
					<div class="loader">Working on it...</div>'

				</div>
				}

			</div>
		</div>
	</div>


</section>



