@using EPiServer.Web.Mvc.Html
@model N1990.Episerver.Cms.Audit.Models.ContentTypeAudit.ContentItem
    
@{
    var htmlString = "<a href =\"" + Url.ContentUrl(Model.ContentLink) + "\">" + Model.Name + "</a>";
	var contentItem = Model;
    while (contentItem.Parent != null)
    {
	    contentItem = contentItem.Parent;
        htmlString = contentItem.Name + " > " + htmlString;
    }
    @Html.Raw(htmlString)
}