@model FoundationPdfFile

<div class="row">
    <div class="col-12">
        <div class="jsPdfPreview" height="@Model.Height" mediaId="@Model.ContentLink.ID" mediaUrl="@Url.ContentUrl(Model.ContentLink)"></div>
    </div>
</div>
