@using Foundation.Cms.ViewModels.Media

@model FoundationPdfFileViewModel

<div class="row">
    <div class="col-12">
        <div class="jsPdfPreview" height="@Model.Height" mediaId="@Model.Id" mediaUrl="@Model.PdfLink"></div>
    </div>
</div>

<script></script>