<?xml version="1.0"?>
<Configuration version="5.0">
	<Acl>
		<Group id="roles" text="{Customer:Roles}">
			<Group id="mng" text="{SharedStrings:Manage}">
				<Permission id="view" text="{SharedStrings:View}"></Permission>
				<Permission id="create" text="{SharedStrings:Create}"></Permission>
				<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
				<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
			</Group>
		</Group>
		<Group id="account" text="{Customer:Account}">
			<Group id="mng" text="{SharedStrings:Manage}">
				<Permission id="loginOnBehalf" text="{ProfileStrings:LoginAsUser}"></Permission>
			</Group>
		</Group>
	</Acl>
</Configuration>