@model CalendarBlockViewModel

@if (Model.Events.Any())
{
    <div class="list-event">
        <h2> Upcoming Events</h2>
        <hr />
        @foreach (var page in Model.Events)
        {
            <div>
                <h2>
                    <strong>@Html.PageLink(page)</strong>
                </h2>
                <p class="date">Start Date: @page.EventStartDate</p>
                <p class="date">End Date: @page.EventEndDate</p>
                <p>@page.GetPropertyValue("TeaserText")</p>
                <hr />
            </div>
        }
    </div>
}