<?xml version="1.0"?>
<!--TECHNOTE: this file's name should not be "EPiServer.Labs.LanguageManager"-->
<configuration>
    <configSections>
        <section name="languagemanager" type="EPiServer.Labs.LanguageManager.Configuration.LanguageManagerSection, EPiServer.Labs.LanguageManager" />
    </configSections>

    <languagemanager>
        <!-- translateOrCopyContenAreaChildrenBlockForTypes: Specify types that will be translated along with its children in its ContentArea, values separate by a comma (,).
                restrictedTypes: Specify types that unsupport translating, separate by a comma. -->
        <setting translateOrCopyContenAreaChildrenBlockForTypes="EPiServer.Forms.Implementation.Elements.FormContainerBlock"
                 restrictedTypes="episerver.commerce.catalog.contenttypes.rootcontent"/>
    </languagemanager>
</configuration>