@using Foundation.Features.Header

@model MiniWishlistViewModel

<div class="cart dropdown-menu dropdown-menu--customized" id="js-wishlist-popover">
    <div style="position: relative">
        <div class="loading-cart" hidden>
            <div class="loader"></div>
        </div>
        <div class="cart-item-listing">
            @Html.Partial("_MiniWishlistItems", Model)
        </div>
    </div>
</div>