@using Foundation.Features.Header

@model MiniWishlistViewModel

<div style="position: relative;">
    <div class="loading-cart" style="display: none">
        <div class="loader"></div>
    </div>
    <div>
        <div class="cart-item-listing">
            @Html.Partial("_MobileMiniWishlistItems", Model)
        </div>
    </div>
    <div class="cart__footer">
        <div class="cart__actions">
            <button class="button-black" onclick="window.location.href='@Url.ContentUrl(Model.WishlistPage)'">
                View @Model.Label
            </button>
        </div>
        
    </div>
</div>