<?xml version="1.0"?>
<Configuration version="5.0">
	<Acl>
		<Group id="mng" text="{SharedStrings:Management}">
			<Permission id="login" text="{SharedStrings:Login}"></Permission>
			<Permission id="license" text="{SharedStrings:Licensing}"></Permission>
			<Permission id="search" text="{SharedStrings:Search_Index}"></Permission>
			<Permission id="settings" text="{SharedStrings:Settings}"></Permission>
			<Permission id="businessfoundation" text="{SharedStrings:Business_Foundation}"></Permission>
		</Group>
		<Group id="admin" text="{SharedStrings:Administration}">
			<Group id="syslog" text="{SharedStrings:System_Log}">
				<Group id="mng" text="{SharedStrings:Manage}">
					<Permission id="view" text="{SharedStrings:View}"></Permission>
					<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
				</Group>
			</Group>
			<Group id="applog" text="{SharedStrings:Application_Log}">
				<Group id="mng" text="{SharedStrings:Manage}">
					<Permission id="view" text="{SharedStrings:View}"></Permission>
					<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
				</Group>
			</Group>
		</Group>
	</Acl>
</Configuration>