<?xml version="1.0" encoding="utf-8"?>
<module>
	<dojo>
		<!-- Add a mapping from Mosey to ~/ClientResources/Scripts to the dojo loader configuration -->
		<paths>
			<add name="foundation" path="Scripts" />
		</paths>
	</dojo>
	<clientModule initializer="foundation/Initialize">
		<moduleDependencies>
			<add dependency="CMS" type="RunAfter" />
		</moduleDependencies>
	</clientModule>
	<clientResources>
		<add name="epi-cms.widgets.base" path="Styles/Styles.css" resourceType="Style"/>
	</clientResources>
</module>