.easy-autocomplete-container {
    position: absolute;
    width: 145px;
    z-index: 1;
    background-color: white;
    & ul {
        width: 100%;
        border: 1px solid #eeeeee;

        & li {
            width: 100%;
            padding: 15px;
            border-bottom: 1px solid #eeeeee;
            cursor: pointer;

            &:last-child {
                border-bottom: 0;
            }

            &:hover {
                background-color: #e5e5e5;
            }
        }
    }
}
