@using EPiServer.Web.Mvc.Html
@model CookieDropBlock.Models.CookieDropBlock

@if (EPiServer.Editor.PageEditing.PageIsInEditMode)
{
    if (Model.HideEditModeMessage == false)
    {
        <div class="alert alert-info" style="background-color: lightyellow">
            <strong>Note:</strong> This message is never visible to end users<br />
            Set a cookie called '<strong>@Html.PropertyFor(x => x.CookieName, new { CustomTag = "span" })</strong>' with value: '<strong>@Html.PropertyFor(x => x.CookieValue, new { CustomTag = "span" })</strong>'
        </div>
    }
}
else
{
    <script type="text/javascript">
    // <![CDATA[
        document.cookie = "@Model.CookieName=@Model.CookieValue; expires=Thu, 31 Dec 2020 12:00:00 UTC; path=/";
        // ]]>
    </script>
}