<?xml version="1.0" encoding="utf-8"?>
<Configuration version="5.2">
	<Acl>
		<Group id="mng" text="{SharedStrings:Manage}">
			<Permission id="view" text="{SharedStrings:View}"></Permission>
			<Permission id="create" text="{SharedStrings:Create}"></Permission>
			<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
			<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
		</Group>
	</Acl>
</Configuration>
