<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="episerverforms" type="EPiServer.Forms.Configuration.EPiServerFormsSection, EPiServer.Forms" />
    </configSections>

<!--
    minimumAccessRightLevelToReadFormData
    =====================================
        Suitable values:
            NoAccess = 0,
            Read = 1,
            Create = 2,
            Edit = 4,
            Delete = 8,
            Publish = 16,
            Administer = 32,
            FullAccess = 63,
            Undefined = 1073741824

    visitorSubmitTimeout
    =======================
        number of days that Forms keeps the state of relation between Visitor-Forms-Submission. This will affect progressive submission cookie, and Visitor identification cookie.
        
    renderingFormUsingDivElement
    =======================
      default is false. Set to true to render Episerver Forms as "div tag" instead of "form tag". This could be useful if you want to use form in ASP.NET WebForms project
    
    serializingObjectUsingNameValueFormat
    =======================
      set to true (default) will serialize object to {name:"Foo",email:"foo@example.com"}
      set to false will serialize object to [{key:"name",value:"Foo"},{key:"email", value: "foo@example.com"}, ...]

    dataExportBlobProviderName
    =======================
      Name of the blob provider which is used to store temporary file when exporting data
-->
    <episerverforms minimumAccessRightLevelToReadFormData="Edit"
                    sendMessageInHTMLFormat="true"
                    defaultUploadExtensionBlackList="asp,aspx,asa,ashx,asmx,bat,chm,class,cmd,com,config,dll,exe,hta,htr,htw,jse,json,lnk,mda,mdb,msc,msh,pif,printer,ps1,ps2,reg,rem,scf,scr,sct,shtm,shtml,soap,stm,svc,url,vb,vbe,vbs,vsix,ws,wsc,wsf,wsh,xamlx,htm,html,js,jar"
                    coreController="/EPiServer.Forms/DataSubmit"
                    formElementViewsFolder="~/Views/Shared/ElementBlocks"
                    workInNonJSMode="false"
                    injectFormOwnJQuery="true"
                    injectFormOwnStylesheet="true"
                    visitorSubmitTimeout="90"
                    renderingFormUsingDivElement ="false"
                    serializingObjectUsingNameValueFormat ="true"
                    dataExportBlobProviderName="DefaultDataExportBlobProvider">

        <storage defaultProvider="DdsPermanentStorage">
            <providers>
                <add name="DdsPermanentStorage" type="EPiServer.Forms.Core.Data.DdsPermanentStorage, EPiServer.Forms.Core" />
              
                <!--
                    DdsEncryptedPermanentStorage: Encrypt and save submission to DDS.
                    - ClientId: Application ID registered with Azure Active Directory
                    - ClientSecret: the secret created for the application.
                    - KeyIdentifier: the endpoint used for communication with Azure Keyvault. This is used to retrieve the token access, public key retrieval, and data decryption (using private key on Azure).
		                Example: clientId="ab538c78-e399-45c4-a2a4-9987555424fs" clientSecret="XdGXcPBTkzwWyZZzu2Y7VgF3JSrF/Wy4rxdmyHHiYzM=" keyIdentifier="https://yourkeyvault.vault.azure.net/keys/YourKey/b4b02ca1e27346dab6966218d410f1f9"
                -->          
              <add name="DdsEncryptedPermanentStorage" type="EPiServer.Forms.Core.Data.Internal.DdsEncryptedPermanentStorage, EPiServer.Forms.Core"
                    cryptoEngineType="EPiServer.Forms.Crypto.AzureKeyVault.Internal.AzureKeyVaultCryptoEngine, EPiServer.Forms.Crypto.AzureKeyVault"
                    clientId="Your clientId" clientSecret="Your clientSecret" keyIdentifier="Your keyIdentifier"/>
            </providers>
        </storage>
        
        <externalfeed>
            <!--id must be unique-->
            <!--cacheTimeout is in seconds-->
            <!--extraConfiguration is arbitrary string, to provide extra information for loading FeedItem. This used to be null-->            
            <!--<feed id="EPiServer" description="EPiServer Blog posts"
                  url="http://world.episerver.com/Blogs/?feed=RSS" providerKey="" providerSecret=""
                  keyXPath="//channel/item/link"
                  valueXPath="//channel/item/title"
                  extraConfiguration=""
                  cacheTimeout="300"
                   />-->
        </externalfeed>
    </episerverforms>
</configuration>
