@model ContentViewModel<TwoColumnLandingPage>

<div class="row">
    <div class="col-@Model.CurrentContent.MainContentAreaColumn">
        @Html.PropertyFor(x => x.CurrentContent.MainContentArea)
    </div>

    <div class="col-@Model.CurrentContent.RightHandContentAreaColumn">
        @Html.PropertyFor(x => x.CurrentContent.RightHandContentArea)
    </div>
</div>
