@{
    Layout = null;
}
<div class="alert alert-danger" role="alert">
    <strong>@Html.TranslateFallback("/Search/SearchBlock/Error", "Error!")</strong> @Html.TranslateFallback("/Search/SearchBlock/FindError", "EPiServer Find is not configured or available.")
</div>