<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="episerverconnectforcampaign" type="EPiServer.ConnectForCampaign.Implementation.Configuration.CampaignSection, EPiServer.ConnectForCampaign.Implementation" />
  </configSections>

  <!--  
    trackingCookieTimeout
    =======================
        Number of days for storing recipient's id in cookie.
        		
    forceUpdateRecipient
    =======================
        Specifies whether we should update recipient data when a recipient tries to submit form with an existing email.
        If this attribute is set to false, then the system will only update recipient data in case a tracking cookie exists which matches the recipient, 
        otherwise it will throws an error stating that the recipient already exists.
        If this attribute is set to true, then the system will always updates recipient data if email exists. The downside of setting this attribute to true
        is that a user can update information of other users by using the others’ emails.
    
  -->
  <episerverconnectforcampaign trackingCookieTimeout="365" forceUpdateRecipient="true">
  </episerverconnectforcampaign>
</configuration>