@charset 'UTF-8';

// 1. Configuration and helpers
@import
    'utils/variables';

// 2. Vendors
@import
    'vendors/bootstrap-4.3.1/bootstrap';

// 3. Base stuff
@import
    'base/typography',
    'base/helpers';

// 4. Layout-related sections
@import
    'layout/header',
    'layout/footer',
    'layout/navigation-bar',
    'layout/navigation',
    'layout/mobile-navigation';

// 5. Components
@import
    'components/buttons',
    'components/textbox',
    'components/checkbox',
    'components/select-menu',
    'components/icon-menu',
    'components/hamburger-menu',
    'components/loading-box',
    'components/list-group',
    'components/dropdown',
    'components/table',
    'components/icon-buttons',
    'components/easy-autocomplete';

// 6. Template specific styles
@import
    'templates/widgets/market-selector',
    'templates/widgets/product-tile',
    'templates/widgets/profile-group',
    'templates/widgets/product-quick-view',
    'templates/widgets/login-users',
    'templates/widgets/logged-in-user',
    'templates/widgets/cart.scss',
    'templates/widgets/profile-sidebar',
    'templates/widgets/toolbar',
    'templates/widgets/b2b-navigation',
    'templates/widgets/breadcrumb',
    'templates/widgets/searchbox',
    'templates/widgets/teaser';

@import
    'templates/blocks/hero-block',
    'templates/blocks/button-block',
    'templates/blocks/calendar-block',
    'templates/blocks/featurebox-block',
    'templates/blocks/vimeo-block',
    'templates/blocks/content-recommendation-block',
    'templates/blocks/teaser-block',
    'templates/blocks/video-block',
    'templates/blocks/breadcrumb-block',
    'templates/blocks/text-block',
    'templates/blocks/order-search-block',
    'templates/blocks/category-block',
    'templates/blocks/product-hero-block';

@import
    'templates/forms/form';

@import
    'templates/media/video-file';

@import
    'templates/pages/home',
    'templates/pages/standard-page',
    'templates/pages/order-history',
    'templates/pages/store-locator',
    'templates/pages/product-detail',
    'templates/pages/my-account-pages',
    'templates/pages/credit-card',
    'templates/pages/checkout-page',
    'templates/pages/cart-page',
    'templates/pages/order-confirmation-page',
    'templates/pages/location',
    'templates/pages/people',
    'templates/pages/order-detail-page',
    'templates/pages/category-page',
    'templates/pages/search-page',
    'templates/pages/order-pads',
    'templates/pages/orders-page',
    'templates/pages/users-page',
    'templates/pages/blog-list',
    'templates/pages/blog-item',
    'templates/pages/login',
    'templates/pages/one-page-checkout',
    'templates/pages/collection';

// 7. Themes
@import
    'themes/default';