<?xml version="1.0"?>
<businessManager>
  <handlers>
    <add metaClass="Contact" method="*" type="Mediachase.Commerce.Customers.Handlers.ContactRequestHandler, Mediachase.Commerce" />
    <add metaClass="Organization" method="*" type="Mediachase.Commerce.Customers.Handlers.OrganizationRequestHandler, Mediachase.Commerce" />
    <add metaClass="Address" method="*" type="Mediachase.Commerce.Customers.Handlers.CustomerRequestHandlerBase, Mediachase.Commerce" />
    <add metaClass="CreditCard" method="*" type="Mediachase.Commerce.Customers.Handlers.CreditCardRequestHandler, Mediachase.Commerce" />
    <add metaClass="CustomizationItem" method="*" type="Mediachase.Commerce.Customization.CustomizationItemRequestHandler, Mediachase.Commerce" />
    <add metaClass="CustomizationItemArgument" method="*" type="Mediachase.Commerce.Customization.CustomizationItemArgumentRequestHandler, Mediachase.Commerce" />
    <add metaClass="CustomPage" method="*" type="Mediachase.Commerce.Customization.CustomPageRequestHandler, Mediachase.Commerce" />
  </handlers>
  <plugins>
    <add method="List" metaClass="CustomPage" eventStage="PostMainOperationInsideTranasaction" type="Mediachase.Commerce.Customization.Plugins.CustomPageNormalizationPlugin, Mediachase.Commerce" />
    <add method="Create" metaClass="*" eventStage="PreMainOperation" type="Mediachase.Commerce.Core.RecentReferenceHistory.RecentReferenceDetectPlugin, Mediachase.Commerce" />
    <add method="Update" metaClass="*" eventStage="PreMainOperation" type="Mediachase.Commerce.Core.RecentReferenceHistory.RecentReferenceDetectPlugin, Mediachase.Commerce" />
    <add method="Delete" metaClass="*" eventStage="PreMainOperation" type="Mediachase.Commerce.Core.RecentReferenceHistory.RecentReferenceCleanupPlugin, Mediachase.Commerce" />
    <add method="Delete" metaClass="*" eventStage="PreMainOperationInsideTranasaction" type="Mediachase.Commerce.Core.CleanupBridgeElementPlugin, Mediachase.Commerce" />
  </plugins>
</businessManager>