<?xml version="1.0"?>
<!-- Marketing Configuration -->
<!-- This section is obsoleted since marketing configuration class was obsoleted and only kept for backwards compatibility. -->
<Marketing>
  <Connection connectionStringName="EcfSqlConnection" />
  <Cache enabled="true" promotionTimeout="0:1:0" campaignTimeout="0:1:0" policyTimeout="0:1:0" segmentTimeout="0:1:0" expressionTimeout="0:1:0" />
  <MappedTypes>
    <ExpressionValidatorType name="Mediachase.Commerce.Marketing.Validators.RulesExprValidator,Mediachase.Commerce.Marketing.Validators" />
    <PromotionEntryPopulateFunctionType name="Mediachase.Commerce.Marketing.Validators.PromotionEntryPopulate,Mediachase.Commerce.Marketing.Validators" />
  </MappedTypes>
  <Roles />
</Marketing>