<?xml version="1.0" encoding="utf-8"?>
<Application defaultApplicationName="ECApplication">
  <Roles>
    <add name="AdminRole" value="Admins" />
    <add name="ManagerUserRole" value="Management Users" />
    <add name="EveryoneRole" value="Everyone" />
    <add name="RegisteredRole" value="Registered" />
  </Roles>
  <Connection connectionStringName="EcfSqlConnection" />
  <Cache enabled="true" appTimeout="0:0:10" />
  <Features>
	<add feature="SerializedCarts" state="Enabled" type="Mediachase.Commerce.Core.Features.SerializedCarts, Mediachase.Commerce" />
  </Features>
</Application>