<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" type="EPiServer.Forms.EditView.FormsUIModule, EPiServer.Forms.UI" clientResourceRelativePath="4.29.2">

    <assemblies>        
        <add assembly="EPiServer.Forms.UI"/>
        <add assembly="EPiServer.Forms.Core"/>
    </assemblies>

    <routes>
        <route url="{moduleArea}/{controller}/{action}/">
            <defaults>
                <add key="moduleArea" value="EPiServer.Forms.UI"/>
                <add key="controller" value=""/>
                <add key="action" value="Index"/>
            </defaults>
        </route>
    </routes>

    <clientResources>
        <add name="Forms" path="ClientResources/epi-forms/themes/sleek/Forms.css" resourceType="Style"/>
        <!-- This files contains all minified and obfuscated Forms JS files in edit mode -->
        <add name="Forms" path="ClientResources/epi-forms/widgets.js" resourceType="Script"/>
    </clientResources>

    <dojo>
        <packages>
            <add name="epi-forms" location="ClientResources/epi-forms"/>
        </packages>
    </dojo>

    <clientModule initializer="epi-forms.FormsUIModule">
        <moduleDependencies>
            <add dependency="CMS" type="RunAfter"/>
        </moduleDependencies>
        <requiredResources>
            <add name="Forms"/>
        </requiredResources>
    </clientModule>
</module>
