<?xml version="1.0"?>
<Catalog autoConfigure="true">
  <Connection connectionStringName="EcfSqlConnection" />
  <Cache enabled="true" collectionTimeout="0:15:0" entryTimeout="0:15:0" nodeTimeout="0:15:0" schemaTimeout="0:15:0"/>    
  <!-- Sale Price Types -->
  <SalePriceTypes>
    <!-- Add custom types here. "value" should start from 3 because All Customers, Customer, Customer Price Group are existing in system. -->
    <!--
		<add key="NewCustomPriceType" value="3" description="New Custom Price Type" />
		<add key="JurisdictionGroup" value="4" description="Jurisdiction Group"/>
    -->
  </SalePriceTypes>
</Catalog>