<?xml version="1.0"?>
<Customers autoInstall="true" demoInstall="true">
  <Cache enabled="true" contactCollectionTimeout="0:1:0" contactTimeout="0:1:0" addressCollectionTimeout="0:1:0" addressTimeout="0:1:0" creditCardCollectionTimeout="0:1:0" creditCardTimeout="0:1:0" organizationCollectionTimeout="0:1:0" organizationTimeout="0:1:0" />
  <Connection connectionStringName="EcfSqlConnection" />  
</Customers>