<?xml version="1.0"?>
<Security enablePermissions="true" defaultProvider="CustomerSecurityProvider">
  <Connection connectionStringName="EcfSqlConnection" />
  <Cache enabled="true" userCollectionTimeout="0:1:0" userTimeout="0:1:0" />
  <Providers>
    <add name="CustomerSecurityProvider" type="Mediachase.Commerce.Customers.Security.CustomerSecurityProvider, Mediachase.Commerce" />
  </Providers>  
</Security>