@model Foundation.Features.Preview.PreviewModel

@{
    Layout = "~/Features/Shared/Views/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 style="margin-bottom: 20px">Preview</h1>
            @foreach (var area in Model.Areas)
            {
                if (area.Supported)
                {
                    <div class="clearfix" style="margin-bottom: 25px">
                        @Html.Partial("TemplateHint", string.Format(Html.TranslateFallback("/preview/heading", "The content '{0}' when displayed as '{1}'"), Model.PreviewContent.Name, Html.Translate(area.AreaName)))
                        @Html.DisplayFor(x => area.ContentArea, new { Tag = area.AreaTag })
                    </div>
                }
                else
                {
                    @Html.Partial("TemplateHint", string.Format(Html.TranslateFallback("/preview/norenderer", "The content '{0}' cannot be displayed as {1}"), Model.PreviewContent.Name, area.AreaName))
                }
            }

            @if (!Model.Areas.Any())
            {
                @Html.Partial("TemplateHint", string.Format(Html.TranslateFallback("/preview/norendereratall", "No renderer found for '{0}'"), Model.PreviewContent.Name))
            }
        </div>
    </div>
</div>