<?xml version="1.0" encoding="utf-8"?>
<Configuration version="5.2">
	<Acl>
		<Group id="mng" text="{SharedStrings:Manage}">
			<Permission id="view" text="{SharedStrings:View}"></Permission>
			<Permission id="create" text="{SharedStrings:Create}"></Permission>
			<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
			<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
			<Permission id="notify" text="{SharedStrings:Send_Notifications}"></Permission>
			<Permission id="payments" text="{SharedStrings:Process_Payments}"></Permission>
			<Permission id="split_shipments" text="{SharedStrings:Split_Shipment}"></Permission>
			<Permission id="discretionary_credit_payment" text="{SharedStrings:Credit_Payment}"></Permission>
			<Permission id="discount" text="{SharedStrings:Discount}"></Permission>
      <Permission id="change_price" text="{SharedStrings:Change_Price}"></Permission>
			<Group id="return" text="{SharedStrings:Returns}">
				<Permission id="create" text="{SharedStrings:Create}"></Permission>
				<Permission id="create_exchange" text="{SharedStrings:Create_Exchange}"></Permission>
				<Permission id="receiving" text="{SharedStrings:Receiving}"></Permission>
			</Group>
			<Group id="shipment" text="{SharedStrings:Shipment}">
				<Permission id="packing" text="{SharedStrings:Packing}"></Permission>
				<Permission id="complete" text="{SharedStrings:Complete}"></Permission>
			</Group>
		</Group>
		<Group id="admin" text="{SharedStrings:Administration}">
			<Group id="payments" text="{SharedStrings:Payments}">
				<Group id="mng" text="{SharedStrings:Manage}">
					<Permission id="view" text="{SharedStrings:View}"></Permission>
					<Permission id="create" text="{SharedStrings:Create}"></Permission>
					<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
					<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
				</Group>
			</Group>
			<Group id="shipping" text="{SharedStrings:Shipping}">
				<Group id="jur" text="{OrderStrings:Jurisdictions}">
					<Group id="mng" text="{SharedStrings:Manage}">
						<Permission id="view" text="{SharedStrings:View}"></Permission>
						<Permission id="create" text="{SharedStrings:Create}"></Permission>
						<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
						<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
					</Group>
				</Group>
				<Group id="providers" text="{SharedStrings:Providers}">
					<Group id="mng" text="{SharedStrings:Manage}">
						<Permission id="view" text="{SharedStrings:View}"></Permission>
						<Permission id="create" text="{SharedStrings:Create}"></Permission>
						<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
						<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
					</Group>
				</Group>
				<Group id="packages" text="{SharedStrings:Packages}">
					<Group id="mng" text="{SharedStrings:Manage}">
						<Permission id="view" text="{SharedStrings:View}"></Permission>
						<Permission id="create" text="{SharedStrings:Create}"></Permission>
						<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
						<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
					</Group>
				</Group>
				<Group id="methods" text="{SharedStrings:Methods}">
					<Group id="mng" text="{SharedStrings:Manage}">
						<Permission id="view" text="{SharedStrings:View}"></Permission>
						<Permission id="create" text="{SharedStrings:Create}"></Permission>
						<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
						<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
					</Group>
				</Group>
			</Group>
			<Group id="taxes" text="{SharedStrings:Taxes}">
				<Group id="mng" text="{SharedStrings:Manage}">
					<Permission id="view" text="{SharedStrings:View}"></Permission>
					<Permission id="create" text="{SharedStrings:Create}"></Permission>
					<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
					<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
					<Permission id="import" text="{SharedStrings:Import}"></Permission>
				</Group>
			</Group>
			<Group id="meta" text="{SharedStrings:Meta_Data}">
				<Group id="cls" text="{SharedStrings:Classes}">
					<Group id="mng" text="{SharedStrings:Manage}">
						<Permission id="view" text="{SharedStrings:View}"></Permission>
						<Permission id="create" text="{SharedStrings:Create}"></Permission>
						<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
						<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
					</Group>
				</Group>
				<Group id="fld" text="{SharedStrings:Fields}">
					<Group id="mng" text="{SharedStrings:Manage}">
						<Permission id="view" text="{SharedStrings:View}"></Permission>
						<Permission id="create" text="{SharedStrings:Create}"></Permission>
						<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
						<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
					</Group>
				</Group>
			</Group>
		</Group>
	</Acl>
</Configuration>
