<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" clientResourceRelativePath="4.0.1" productName="Languages" type="EPiServer.Labs.LanguageManager.LanguageManagerModule, EPiServer.Labs.LanguageManager">
  <assemblies>
    <add assembly="EPiServer.Labs.LanguageManager" />
  </assemblies>
  <routes>
    <route url="{moduleArea}/{controller}/{action}/">
      <defaults>
        <add key="moduleArea" value="EPiServer.Labs.LanguageManager" />
        <add key="controller" value="" />
        <add key="action" value="Index" />
      </defaults>
    </route>
  </routes>
  <clientResources>
    <add name="LanguageManagerResources" path="ClientResources/LanguageManager/EPiServer.Labs.LanguageManager.css" resourceType="Style" />
    <add name="LanguageManagerResources" path="ClientResources/LanguageManager/packaged.js" resourceType="Script" />
  </clientResources>
  <dojo>
    <paths>
      <add name="epi-languagemanager" path="ClientResources/LanguageManager" />
    </paths>
  </dojo>
  <!--<clientModule initializer="epi.example.ExampleModule">-->
  <clientModule initializer="epi-languagemanager/LanguageManagerModule">
    <moduleDependencies>
      <add dependency="Shell" />
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
      <add name="LanguageManagerResources" />
    </requiredResources>
  </clientModule>
</module>