@using System.Web.Mvc.Html
@using EPiServer.Shell.Web.Mvc.Html

<a class="btn btn-sm btn-danger float-right" 
   onclick="return confirm('@Html.TranslateFallback("/virtualtemplatesystem/messages/deleteconfirmprompt", "Are you sure you want to revert to the default implementation? This will move the virtual template to the recycle bin.")');"
   href="@Url.Action("Revert", "VirtualTemplates", new { VirtualPath = @Model.VirtualPath })">
    <i class="fas fa-undo"></i> @Html.TranslateFallback("/virtualtemplatesystem/buttons/delete", "Revert to default")
</a>