@using System.Web.Mvc.Html
@using EPiServer.Shell.Web.Mvc.Html

<button id="saveButton" name="Button" type="submit" value="Save" class="btn btn-sm btn-success">
    <i class="far fa-save"></i>
    @Html.TranslateFallback("/virtualtemplatesystem/buttons/save", "Save")
</button>