@model Foundation.Commerce.Models.Blocks.MediaBlock

<div class="row">
    <div class="col-12 mediablock-container">
        <div class="row">
            <div class="col-5">
                @if (!ContentReference.IsNullOrEmpty(Model.Image))
                {
                    <img class="mediablock__img" src="@Url.ContentUrl(Model.Image)" />
                }
            </div>
            <div class="col-7 mediablock__content">
                <div>
                    <div class="mediablock__title">
                        <h2>@Model.Name</h2>
                    </div>
                    <p class="mediablock__description">@Html.PropertyFor(x => x.Description)</p>
                </div>
            </div>
        </div>
    </div>
</div>