@{
    Layout = null;
}
<div class="alert alert-info" role="alert">
    <strong>@Html.Translate("/Search/SearchBlock/Info")</strong> @Html.TranslateFallback("/Search/SearchBlock/NoResults", "No products returned from configured search.")
</div>