<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" tags="Foundation" viewEngine="Razor">
  <assemblies>
    <add assembly="Foundation.Cms" />
  </assemblies>
  <clientModule>
    <moduleDependencies>
      <add dependency="CMS" type="Require RunAfter" />
    </moduleDependencies>
  </clientModule>
</module>