<?xml version="1.0"?>
<Catalog autoConfigure="true">
  <Connection connectionStringName="EcfSqlConnection" />
  <Cache enabled="true" collectionTimeout="0:15:0" entryTimeout="0:15:0" nodeTimeout="0:15:0" schemaTimeout="0:15:0" />
  <Encoding imageQualityPercentage="80" defaultFormat="jPeg" />
  <Roles />
  <Events>
    <add type="Mediachase.Commerce.Catalog.Loggers.CatalogLogger, Mediachase.Commerce" />
  </Events>
  <SalePriceTypes>
    <add key="MAP" value="3" description="MAP" />
    <add key="MSRP" value="4" description="MSRP"/>
    <add key="Subscription" value="5" description="Subscription"/>
  </SalePriceTypes>
</Catalog>