@using EPiServer.Shell.Navigation
@inherits WebViewPage<Foundation.Demo.PowerBi.ReportsViewModel>
<head>
    <title>Power Bi</title>
</head>
<iframe width="100%" height="900" src="@Model.FrameSource" frameborder="0" allowFullScreen="true"></iframe>

