<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AuthorizeNet" version="1.9.4" targetFramework="net472" />
  <package id="Castle.Core" version="4.4.1" targetFramework="net472" />
  <package id="Castle.Windsor" version="4.1.1" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="EPiServer.Azure" version="10.0.1" targetFramework="net472" />
  <package id="EPiServer.CMS.AspNet" version="11.18.0" targetFramework="net472" />
  <package id="EPiServer.CMS.Core" version="11.18.0" targetFramework="net472" />
  <package id="EPiServer.CMS.UI.AspNetIdentity" version="11.28.0" targetFramework="net472" />
  <package id="EPiServer.CMS.UI.Core" version="11.28.0" targetFramework="net472" />
  <package id="EPiServer.Commerce.Core" version="13.23.0" targetFramework="net472" />
  <package id="EPiServer.CommerceManager" version="13.23.0" targetFramework="net472" />
  <package id="EPiServer.CommerceManager.Azure" version="14.0.11" targetFramework="net472" />
  <package id="EPiServer.Framework" version="11.18.0" targetFramework="net472" />
  <package id="EPiServer.Framework.AspNet" version="11.18.0" targetFramework="net472" />
  <package id="EPiServer.ServiceLocation.StructureMap" version="2.0.3" targetFramework="net472" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net472" />
  <package id="Lucene.Net.Store.Azure" version="3.0.5553.21100" targetFramework="net472" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.Azure.KeyVault.Core" version="3.0.5" targetFramework="net472" />
  <package id="Microsoft.Azure.Services.AppAuthentication" version="1.5.0" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="3.6.0" targetFramework="net472" />
  <package id="Microsoft.Data.Edm" version="5.8.4" targetFramework="net472" />
  <package id="Microsoft.Data.OData" version="5.8.4" targetFramework="net472" />
  <package id="Microsoft.Data.Services.Client" version="5.8.4" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="5.2.8" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.7.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="6.7.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.7.1" targetFramework="net472" />
  <package id="Microsoft.Owin" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Security" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.ReportViewer.Common" version="10.0.40219.1" targetFramework="net472" />
  <package id="Microsoft.ReportViewer.WebForms" version="10.0.40219.1" targetFramework="net472" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.21" targetFramework="net472" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.19" targetFramework="net472" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Owin" version="1.0" targetFramework="net472" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net472" />
  <package id="StructureMap" version="4.7.1" targetFramework="net472" />
  <package id="structuremap.web" version="4.0.0.315" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net472" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.3.0" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.8.1" targetFramework="net472" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.7.1" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net472" />
  <package id="System.Security.Cryptography.Xml" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net472" />
  <package id="System.Spatial" version="5.8.4" targetFramework="net472" />
  <package id="System.Threading.AccessControl" version="4.7.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="WindowsAzure.ServiceBus" version="6.0.2" targetFramework="net472" />
  <package id="WindowsAzure.Storage" version="9.3.3" targetFramework="net472" />
</packages>