@using Foundation.Features.Checkout.ViewModels

@model CheckoutViewModel

@{
    Layout = null;
}

<div class="row">
    <div class="col-12">
        @foreach (var method in Model.PaymentMethodViewModels)
        {
            <label class="checkbox">
                @method.FriendlyName
                @{ string checkState = method.SystemKeyword == Model.Payment.SystemKeyword ? "checked" : string.Empty; }
                <input type="radio" class="jsChangePayment" name="PaymentMethodType" methodid="@method.PaymentMethodId" keyword="@method.SystemKeyword" @checkState
                       url="@Url.Action("UpdatePaymentOption")" />
                <span class="checkmark"></span>
            </label>
        }
        <br />
    </div>
</div>
<hr />
<div class="row">
    <div class="col-12 position-relative">
        <div class="loading-box loading-in-modal" style="display: none">
            <div class="loader"></div>
        </div>
        <div class="jsPaymentMethod">
            @if (Model.Payment != null)
            {
                var partialView = string.Format("_{0}PaymentMethod", Model.Payment.SystemKeyword);

                Html.RenderPartial(partialView, Model.Payment);
            }
        </div>
    </div>
</div>