@using Foundation.Features.MyAccount.AddressBook

@model AddressModel

<address>
    <p>
        @{
            string[] addressValues = null;
            System.Text.RegularExpressions.Regex email = EPiServer.Framework.Validator.EmailRegex;

            switch (Model.CountryCode)
            {
                case "AUS":
                case "CAN":
                case "USA":
                    addressValues = new string[] { Model.Organization, Model.FirstName + " " + Model.LastName, Model.Email, Model.Line1, Model.Line2, Model.City + ", " + Model.PostalCode + ", " + Model.CountryRegion.Region, Model.CountryName };
                    break;
                case "GBR":
                    addressValues = new string[] { Model.Organization, Model.FirstName + " " + Model.LastName, Model.Email, Model.Line1, Model.Line2, Model.City, Model.CountryRegion.Region, Model.PostalCode, Model.CountryName };
                    break;
                default:
                    addressValues = new string[] { Model.Organization, Model.FirstName + " " + Model.LastName, Model.Email, Model.Line1, Model.Line2, Model.PostalCode + " " + Model.City, Model.CountryRegion.Region, Model.CountryName };
                    break;
            }

            foreach (string value in addressValues)
            {
                if (!string.IsNullOrEmpty(value))
                {
                    if (email.IsMatch(value))
                    {
                        <a href="mailto:@value" class="account-link">@value</a><br />
                    }
                    else
                    {
                        <span>@value</span><br />
                    }
                }
            }
        }
    </p>
</address>