@using Foundation.Features.CatalogContent

@model IEnumerable<ProductTileViewModel>

@if (Model != null && Model.Any())
{
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-xs-12 col-sm-6 col-lg-4">
                @await Html.PartialAsync("_ProductGridItem", product)
            </div>
        }
    </div>
}