<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="social" type="EPiServer.Social.Configuration.SocialSection, EPiServer.Social.Configuration" />
    </configSections>

    <social>
        <providers>
            <provider name="Twitter" consumerKey="ZRwFoqcQ1R0Sqf7V8WNGEIF6J" consumerSecret="44x2VvPw058lgsiXt4kWsKytqbhoUvEfgA6SX50ZmuIeHgmAzH" type="EPiServer.Social.Providers.TwitterProvider, EPiServer.Social.Providers" />
            <provider name="LinkedIn" consumerKey="8tmpfow8mxbo" consumerSecret="DIG4r7JLR3gqoKK8" type="EPiServer.Social.Providers.LinkedInProvider, EPiServer.Social.Providers" />
            <provider name="Facebook" consumerKey="375386089140969" consumerSecret="31527b61880ad81cde6714919206dbcc" type="EPiServer.Social.Providers.FacebookProvider, EPiServer.Social.Providers" />
            <provider name="Bitly" providerType="UrlShortener" consumerKey="episerversocialreach" consumerSecret="R_9b78a12280525ae64fd248aff2897524" type="EPiServer.Social.Providers.Bitly, EPiServer.Social.Providers" />
        </providers>

        <restrictedTypes>
            <type contentType="episerver.core.blockdata" />
            <type contentType="episerver.commerce.catalog.contenttypes.catalogcontent" />
            <type contentType="episerver.commerce.catalog.contenttypes.rootcontent" />
            <type contentType="episerver.commerce.catalog.contenttypes.variationcontent" />
        </restrictedTypes>
    </social>
</configuration>
