<?xml version="1.0" encoding="utf-8" ?>
<module loadFromBin="false" 
        clientResourceRelativePath="3.1.0"
        productName="Social Reach">
    <assemblies>
        <add assembly="EPiServer.Social" />
        <add assembly="EPiServer.Social.Configuration" />
        <add assembly="EPiServer.Social.Models" />
        <add assembly="EPiServer.Social.Providers" />
    </assemblies>

    <routes>
        <route url="{moduleArea}/{version}/Providers/{controller}/{action}" >
            <defaults>
                <add key="moduleArea" value="EPiServer.Social" />
                <add key="controller" value="" />
                <add key="action" value="Index" />
            </defaults>
        </route>

        <route url="{moduleArea}/{controller}/{action}/">
            <defaults>
                <add key="moduleArea" value="EPiServer.Social" />
                <add key="controller" value="" />
                <add key="action" value="Index" />
            </defaults>
        </route>

    </routes>

    <clientResources>
        <add name="SocialWidget.css" path="Content/SocialWidget.css" resourceType="Style" />
    </clientResources>

    <dojo>
        <paths>
            <add name="epi-socialreach" path="ClientResources/Scripts/epi-socialreach" />
        </paths>
    </dojo>

    <clientModule initializer="epi-socialreach/SocialReachModule">
        <moduleDependencies>
            <add dependency="Shell" />
            <add dependency="CMS" />
        </moduleDependencies>
        <requiredResources>
            <add name="SocialWidget.css" />
        </requiredResources>
    </clientModule>

</module>
